<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5">

  <!-- common stuff -->
  <xacro:include filename="$(find tamp_perception)/robots/ur5/urdf/common_customized.gazebo.xacro" />

  <!-- robot arm ur5e -->
  <xacro:include filename="$(find tamp_perception)/robots/ur5/urdf/ur5e.urdf.xacro" />
  <xacro:ur5e_robot prefix="ur5_" joint_limited="true"/>

  <!-- vacuum gripper -->
  <xacro:include filename="$(find tamp_perception)/robots/ur5/urdf/vacuum_gripper.xacro" />
  <xacro:vacuum_grippers />

</robot>
